@use 'vars';
@use 'sass:map';

* { font-family: vars.$fontMain; }

html, body {
    font-family: vars.$fontMain;
    @include vars.toRem(16px);
    font-weight: vars.$regular;
    background-color: #F4F4F4;
}

.bg-site {
    background-image: url('../img/bg-site.jpg');
    background-size: cover;
}

.modal,
.modal-first-access,
.modal-comprar,
.modal-terms,
.modal-confirm,
.modal-sucess,
.modal-extrato {
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    @include vars.prefix(transform, translate(-50%, -50%));
    background-color: #000000af;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &.show {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }

    .content {
        width: 20%;
        background-color: #9377C6;
        border-radius: 20px;
        padding: 0 0 5px 5px;
        border: 3px solid #333;
        
        .effect {
            background-color: #fff;
            padding: 40px;
            position: relative;
            border-radius: 13px;
            text-align: center;
        }

        @media(max-width: vars.$bp1600) {
            width: 35%;
        }

        @media(max-width: vars.$bp992) {
            width: 50%;
        }

        @media(max-width: vars.$bp680) {
            width: 70%;
        }

        @media(max-width: vars.$bp480) {
            width: 90%;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            @include vars.toRem(25px);
            color: #9377C6;
            cursor: pointer;
            display: inline-block
        }

        .message {
            @include vars.flexProp(
                (display, flex),
                (flex-direction, column),
                (align-items, center),
                (justify-content, center)
            );

            .icon {
                margin-bottom: 20px;
                background-color: #ECEFF8;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                @include vars.toRem(35px);
                @include vars.flexProp(
                    (display, flex),
                    (align-items, center),
                    (justify-content, center)
                );

                &.success {
                    color: #2ABE34;
                }

                &.warning {
                    color: #FBA91B;
                    padding-bottom: 5px;
                }
            }

            strong {
                color: #3F454B;
                line-height: 20px;

                &.login-true {
                    color: #9377C6;
                    @include vars.toRem(18px);
                }
            }

            .info {
                color: #404040;
                font-weight: vars.$bolder;
                margin-top: 10px;
            }
        }
    }

    &.xp {
        .content {
            width: 35%;
            height: auto;
            overflow: auto;

            @media(max-height: 900px) {
                height: 95%;
            }

            .info {
                text-align: left;
                width: 100%;

                h1 {
                    color: #404040;
                    margin-bottom: 20px;
                }

                h2 {
                    color: #471785;
                    margin-bottom: 5px;
                    margin-top: 20px;
                }

                p {
                    font-weight: vars.$regular;
                    color: #555;

                    &.danger { color: #D23640; }
                    &.success { color: #2ABE34; }
                }

                .text-box {
                    padding: 20px;
                    border: 1px solid #471785;
                    border-radius: 15px;
                    font-weight: vars.$regular;
                    letter-spacing: 1px;
                    line-height: 20px;
                }
            }
        }
    }

    &.politica {
        .content {
            width: 40%;
            padding: 0px 0px 10px 0px;

            .message {
                text-align: left;
                @include vars.flexProp((align-items, flex-start));
                * { width: 100%; }

                h1 {
                    border-bottom: 1px solid #bbb;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    @include vars.toRem(20px);
                }

                h2 {
                    color: #9377C6;
                    @include vars.toRem(20px);
                    margin-bottom: 15px;
                }

                p {
                    margin-bottom: 15px;
                    &:last-child {margin-bottom: 0;}
                }
            }
        }
    }
}

.modal-comprar,
.modal-confirm {
    .content {
        width: 30%;

        @media(max-width: vars.$bp1600) {
            width: 35%;
        }

        @media(max-width: vars.$bp992) {
            width: 50%;
        }

        @media(max-width: vars.$bp680) {
            width: 70%;
        }

        @media(max-width: vars.$bp480) {
            width: 90%;
        }
    }

    h3 {
        color: #424242;
        @include vars.toRem(20px);
    }

    .variation {
        background-color: #9377C6;
        color: #fff;
        padding: 12px 30px;
        border-radius: 30px;
        display: inline-block;
        margin-top: 25px;
        @include vars.toRem(16px);
    }

    .btn-actions {
        border-top: 1px solid #ddd;
        margin-top: 20px;
        padding-top: 20px;
        @include vars.flexProp(
            (display, flex),
            (align-items, center),
            (justify-content, space-between)
        );

        .btn {
            cursor: pointer;
            width: calc(50% - 10px);
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #9377C6;
            background-color: transparent;
            color: #9377C6;
            transition: .3s;
            @include vars.toRem(16px);

            &.confirm {
                background-color: #9377C6;
                color: #fff;
            }

            &:hover {
                border-radius: 50px;
            }
        }
    }
}

.modal-terms {
    .content {
        width: 40%;
        max-height: 100%;
        overflow-y: auto;

        .effect {
            padding: 60px 40px;
        }

        @media(max-width: vars.$bp992) {
            width: 50%;
        }

        @media(max-width: vars.$bp680) {
            width: 70%;
        }

        @media(max-width: vars.$bp480) {
            width: 90%;
        }
    }

    h3,p {
        text-align: left;
        color: #424242;
        font-weight: vars.$semiBold;
        margin-bottom: 20px;
        line-height: 25px;
    }

    h3 { @include vars.toRem(22px); }

    .modal-list {
        li {
            text-align: left;
            color: #424242;
            font-weight: vars.$semiBold;
            margin-bottom: 10px;
            line-height: 25px;
        }
    }
}

.modal-extrato {
    .content {
        width: 40%;

        @media(max-width: vars.$bp1600) {
            width: 45%;
        }

        @media(max-width: vars.$bp992) {
            width: 60%;
        }

        @media(max-width: vars.$bp680) {
            width: 80%;
        }

        @media(max-width: vars.$bp480) {
            width: 95%;
        }

        h3,p {
            text-align: left;
            color: #424242;
        }

        p {
            font-weight: vars.$semiBold;
            word-break: break-word;
            @include vars.toRem(16px);
        }

        h3 {
            margin-bottom: 20px;
            @include vars.toRem(20px);
        }
    }
}

.modal-confirm {
    .content {
        width: 28%;

        @media(max-width: vars.$bp1600) {
            width: 35%;
        }

        @media(max-width: vars.$bp992) {
            width: 50%;
        }

        @media(max-width: vars.$bp680) {
            width: 70%;
        }

        @media(max-width: vars.$bp480) {
            width: 90%;
        }
    }

    h3 {
        text-align: left;
        color: #424242;
        border-bottom: 1px solid #ddd;
        padding-bottom: 16px;
        margin-bottom: 16px;
        @include vars.toRem(20px);
    }

    .flex-content {
        margin-bottom: 10px;

        @include vars.flexProp( (display, flex) );

        @media(max-width: vars.$bp500) {
            @include vars.flexProp( (flex-direction, column) );
        }

        strong,p {
            color: #424242;
            text-align: left;
            width: 45%;
            @include vars.toRem(16px);

            @media(max-width: vars.$bp1200) {
                @include vars.toRem(14px);
            }

            @media(max-width: vars.$bp500) {
                width: 100%;
            }
        }
    }

    .warning {
        text-align: left;
        display: block;
        margin: 30px 0;
        color: #EC9B30;
    }

    .btn-actions {
        border: none;
        padding-top: 0;
    }
}

.modal-sucess {
    .icon {
        color: #2ABE34;
        width: 50px;
        height: 50px;
        background-color: #F0F0F0;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
        @include vars.toRem(30px);
        @include vars.flexProp(
            (display, flex),
            (align-items, center),
            (justify-content, center)
        );
    }

    .message {
        color: #9377C6;
        @include vars.toRem(20px);

        @media(max-width: vars.$bp500) {
            @include vars.toRem(18px);
        }
    }
}

.breadcrumb {
    color: #555555;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: #555555;
    }
}

.add-cart {
    position: fixed;
    width: 20%;
    top: 20px;
    right: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 30px -15px #000;
    transition: .3s;
    @include vars.flexProp(
        (display, flex),
        (justify-content, space-between),
        (align-items, center)
    );

    &.show { right: 20px; }

    .success {
        @include vars.toRem(16px);
        @include vars.flexProp(
            (display, flex),
            (align-items, center)
        );

        i {
            color: #43C138;
            margin-right: 5px;
            @include vars.toRem(25px);
        }

        strong { font-weight: vars.$regular; }
    }

    .close {
        cursor: pointer;
        color: #9377C6;
        @include vars.toRem(25px);
    }
}

.container {
    width: 1320px;
    margin: 0 auto;

    @media(max-width: vars.$bp1400) { width: 1100px; }
    @media(max-width: vars.$bp1200) { width: 900px; }
    @media(max-width: vars.$bp992) { width: 700px; }
    @media(max-width: vars.$bp768) { width: 550px; }
    @media(max-width: vars.$bp600) { width: 95%; }
}

.form-effect {
    background-color: #9377C6;
    padding: 0px 0px 5px 5px;
    border: 3px solid #424242;
    border-radius: 20px;
}

.form-default {
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 30px;

    .form-control {
        margin-bottom: 20px;

        &.flex {
            @include vars.flexProp(
                (display, flex),
                (justify-content, space-between)
            );
        }

        .title {
            text-align: center;
            margin-bottom: 15px;
            color: #9377C6;
            @include vars.toRem(24px);
        }

        &:last-child {
            margin-bottom: 0;
        }
    
        .label {
            display: block;
            color: #424242;
            font-weight: vars.$regular;
            margin-bottom: 5px;
        }
    
        .input {
            background-color: #ECEFF8;
            border: 1px solid transparent;
            padding: 15px;
            border-radius: 8px;
            width: 100%;
            transition: .3s;
            @include vars.toRem(16px);

            &::placeholder {
                color: #888888;
                font-weight: vars.$regular;
            }

            &:hover { background-color: #e2e8f8; }
            &:focus { 
                border: 1px solid #8c8f99;
                background-color: #f9f9f9;
            }
        }
    }
}

.btn-login {
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    width: 100%;
    border: 2px solid #8C8F99;
    border-radius: 10px;
    text-align: center;
    display: block;
    color: #9377C6;
    padding: 14px;
    transition: .3s;

    &.full {
        background-color: #9377C6;
        border: 2px solid #9377C6;
        color: #fff;
        font-weight: vars.$bold;
        @include vars.toRem(16px);
    }

    @media(max-width: vars.$bp375) {
        @include vars.toRem(13px);
    }

    &:hover { border-radius: 30px; }
    &.bold { 
        font-weight: vars.$bold;
        @include vars.toRem(16px);
    }
}

$slider-colors: (
    'default': #424242,
    'success': #5cb85c,
    'primary': #428bca,
    'info': #5bc0de,
    'warning': #f0ad4e,
    'danger': #d9534f
);

.slider-wrapper {
    margin-bottom: 40px;
}

.slider-selection {
    background: map.get($slider-colors, 'default') !important;
}

@each $color, $value in $slider-colors {
    .slider-#{$color} .slider-selection {
        background-color: $value !important;
    }
}

.slider {
    &.slider-horizontal {
        width: 100% !important;
        position: relative;

        .tooltip {
            position: absolute;
            bottom: -25px;

            &[style="left: 50%;"] {
                display: none;
            }
        }
    }

    &-handle {
        background-color: #424242 !important;
        background-image: none !important;
        box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
    }
}