@use 'vars';

.cart {
    padding: 30px 0;
    .title {
        font-weight: vars.$regular;
        color: #424242;
        margin-bottom: 40px;
        @include vars.toRem(32px);
    }

    .flex-cart {
        @include vars.flexProp(
            (display, flex),
            (align-items, flex-start),
            (justify-content, space-between)
        );

        .cart-content {
            width: 70%;

            .warning {
                margin-bottom: 30px;
                display: block;
                color: #ec9b30;
                background-color: #fafafa;
                border: 1px solid #ec9b30;
                padding: 10px 15px;
                border-radius: 10px;
                @include vars.toRem(14px);
            }

            .table-cart {
                background: #fff;
                padding: 40px 20px;
                border-radius: 10px;
                
                .table-item {
                    border-bottom: 2px solid #eee;
                    padding-bottom: 50px;
                    margin-bottom: 30px;

                    .header-item {
                        border-bottom: 2px solid #eee;
                        padding-bottom: 15px;
                        margin-bottom: 20px;
                        display: none;
    
                        .cel {
                            display: block;
                            text-align: left;
                            font-weight: vars.$bold;
                        }
                    }

                    &:first-child .header-item {
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (justify-content, space-between)
                        );
                    }
    
                    .body-item {
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (justify-content, space-between)
                        );
    
                        .cel {
                            display: block;
                            text-align: left;

                            span { display: none; }
                        }
    
                        .img-prod { width: 100px; }
    
                        .prod {
                            .sub-cel {
                                @include vars.flexProp(
                                    (display, flex),
                                    (align-items, center)
                                );
                            }
                        }
    
                        .qty {
                            @include vars.flexProp(
                                (display, flex),
                                (align-items, center),
                                (justify-content, center)
                            );
    
                            input {
                                width: 50px;
                                border: none;
                                font-weight: vars.$bold;
                                text-align: center;
                                margin: 0 10px;
                                @include vars.toRem(16px);
                            }
    
                            button {
                                cursor: pointer;
                                width: 35px;
                                height: 35px;
                                background-color: #fff;
                                border: 2px solid #9377C6;
                                color: #9377C6;
                                border-radius: 50%;
                                transition: .3s;
                                @include vars.toRem(16px);
    
                                &:hover {
                                    background-color: #9377C6;
                                    color: #fff;
                                }
                            }
                        }
    
                        .action {
    
                            button {
                                cursor: pointer;
                                border: 2px solid #F5556F;
                                background-color: #fff;
                                color: #F5556F;
                                font-weight: vars.$bold;
                                border-radius: 50px;
                                padding: 10px 15px;
                                transition: .3s;
                                @include vars.toRem(16px);
                                @include vars.flexProp(
                                    (display, flex),
                                    (align-items, center),
                                    (justify-content, center)
                                );
    
                                i { margin-left: 5px; }
    
                                &:hover {
                                    background-color: #F5556F;
                                    color: #fff;
                                }
                            }
                        }
                    }
    
                    .shipping {
                        margin-top: 20px;
                        background-color: #F4F4F4;
                        padding: 15px;
                        border-radius: 10px;
                        @include vars.toRem(16px);
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (justify-content, flex-start)
                        );
    
                        .icon {
                            margin-right: 10px;
                            @include vars.toRem(25px);
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                    }

                    .header-item,
                    .body-item {
                        .cel {
                            &:nth-child(1) { width: 35%; }
                            &:nth-child(2) { width: 30%; text-align: center; }
                            &:nth-child(3) { width: 15%; }
                            &:nth-child(4) {
                                width: 20%;
                                @include vars.flexProp(
                                    (display, flex),
                                    (align-items, center),
                                    (justify-content, flex-end)
                                );
                            }
                        }
                    }

                    @media(max-width: vars.$bp992) {
                        .header-item:nth-child(n) { display: none; }

                        .body-item {
                            @include vars.flexProp(
                                (flex-direction, column)
                            );

                            .cel:nth-child(n) {
                                width: 100%;
                                margin-bottom: 20px;
                                border-bottom: 1px solid #eee;
                                padding-bottom: 20px;
                                margin-bottom: 20px;
                                @include vars.flexProp(
                                    (display, flex),
                                    (align-items, center),
                                    (justify-content, space-between)
                                );

                                span { display: block; font-weight: vars.$bold; }

                                span, .sub-cel {
                                    width: 50%;
                                    text-align: left;
                                }

                                .sub-cel {
                                    text-align: right;
                                    @include vars.flexProp(
                                        (display, flex),
                                        (justify-content, flex-end)
                                    );
                                }
                            }
                        }
                    }

                    @media(max-width: vars.$bp768) {
                        .body-item {
                            .cel:nth-child(n) {
                                span { width: 20%; }
                                .sub-cel { width: 80%; }
                            }
                        }
                    }
                }

            }
        }

        .cart-resume {
            width: 28%;
            margin-left: 2%;
            background-color: #fff;
            border-radius: 10px;
            padding: 15px;

            .sub-title {
                font-weight: vars.$bold;
                color: #555;
                border-bottom: 2px solid #eee;
                padding-bottom: 10px;
                margin-bottom: 30px;
            }
            
            .resume-content {
                border-bottom: 2px solid #eee;
                padding-bottom: 30px;

                .flex-resume {
                    margin-bottom: 15px;

                    @include vars.toRem(16px);
                    @include vars.flexProp(
                        (display, flex),
                        (align-items, center),
                        (justify-content, space-between)
                    );

                    &:last-child { margin-bottom: 0; }
                }
            }

            .total {
                margin-top: 30px;

                @include vars.toRem(16px);
                @include vars.flexProp(
                    (display, flex),
                    (align-items, center),
                    (justify-content, space-between)
                );
            }

            .redeem {
                margin-top: 30px;
                .btn {
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    margin-bottom: 15px;
                    padding: 15px;
                    border-radius: 50px;
                    background-color: #fff;
                    border: 1px solid #9377C6;
                    color: #9377C6;
                    transition: .3s;
                    @include vars.toRem(16px);

                    &.on {
                        background-color: #9377C6;
                        color: #fff;
                    }

                    &:hover {
                        border-radius: 15px;
                    }
                }
            }
        }

        @media(max-width: vars.$bp1200) {
            @include vars.flexProp(
                (flex-direction, column)
            );

            .cart-content,
            .cart-resume {
                width: 100%;
                margin-left: 0;
            }

            .cart-resume { margin-top: 15px; }
        }
    }
}