@use "vars";

.home {
    background-color: #ECECEC;
    color: #555555;

    h1 { @include vars.toRem(20px); }

    .title {
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 30px;

        &::after {
            content: "";
            position: relative;
            width: 155px;
            height: 3px;
            display: block;
            border-radius: 5px;
            background-color: #9377C6;
            top: 17px;
        }
    }

    .title-detail {
        position: relative;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 15px;
        @include vars.flexProp(
            (display, flex),
            (justify-content, space-between),
            (align-items, center)
        );

        &::after {
            content: "";
            position: absolute;
            width: 240px;
            height: 3px;
            display: block;
            border-radius: 5px;
            background-color: #fff;
            top: 97%;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: vars.$light;
        }

        &.normal {
            color: #424242;
            border-bottom: 1px solid #ccc;

            &::after {
                background-color: #9377c6;
            }

            a {
                color: #424242;

                i {
                    color: #9377C6;
                }
            }
        }
    }

    .banner-main {
        position: relative;

        .slick-arrow {
            cursor: pointer;
            position: absolute;
            top: 50%;
            z-index: 1;
            border: none;
            background-color: transparent;
            color: #fff;
            @include vars.toRem(30px);
            @include vars.prefix(transform, translateY(-50%));
        }
        
        .slick-prev { left: 30px; }
        .slick-next { right: 30px; }

        .slick-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            @include vars.prefix(transform, translateX(-50%));
            @include vars.flexProp(
                (display, flex)
            );

            li.slick-active {
                button {
                    width: 30px;
                    height: 10px;
                    border-radius: 30px;
                    background-color: #9377C6;
                }
            }

            button {
                cursor: pointer;
                font-size: 0;
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                margin: 0 5px;
                border-radius: 50%;
                background-color: #fff;
                border: none;
                transition: .3s;
            }
        }
    }

    .category-content {
        background-color: #fff;
    }

    .carousel-category {
        position: relative;
        padding: 50px 0;

        .slick-prev,
        .slick-next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            z-index: 1;
            border: none;
            background-color: transparent;
            color: #9377C6;
            @include vars.toRem(40px);
            @include vars.prefix(transform, translateY(-50%));

            &.slick-disabled {
                color: #E2DFDF;
                cursor: initial;
            }
        }
        
        .slick-prev { left: -10px; }
        .slick-next { right: -10px; }

        .category-item {
            @include vars.flexProp(
                (display, flex),
                (flex-direction, column),
                (align-items, center)
            );

            .category-cap {
                margin-top: 20px;
            }
        }
    }

    .filter-score {
        padding: 50px 0;

        .slick-filter {
            .slick-arrow {
                cursor: pointer;
                position: absolute;
                top: 50%;
                z-index: 1;
                border: none;
                background-color: transparent;
                color: #9377C6;
                @include vars.prefix(transform, translateY(-50%));
                @include vars.toRem(40px);

                &.slick-disabled {
                    color: #E2DFDF;
                    cursor: initial;
                }
            }
            
            .slick-prev { left: -3%; }
            .slick-next { right: -3%; }

            @media(max-width: vars.$bp768) {
                .slick-prev { left: 70%; }
                .slick-next { right: 0%; }

                .slick-arrow {
                    top: -120%;
                    @include vars.prefix(transform, initial);
                    @include vars.toRem(30px);
                }
            }
        }

        .score-item {
            border: 1px solid #9377C6;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            margin: 0 10px;
            color: #555555;

            span {
                color: #9377C6;
                border-bottom: 1px solid #9377C6;
                display: block;
                padding-bottom: 5px;
                margin-bottom: 8px;
            }
        }
    }

    .product-redeem {
        .detail-bg {
            padding: 80px 0 200px;
            background-color: #9377C6;
            position: relative;
            
            .detail {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    .stores {
        padding: 80px 0 0;
        position: relative;

        .title-detail {
            &::after {
                width: 140px;
            }
        }

        .grid-store {
            margin-top: 30px;
            margin-left: -10px;
            margin-right: -10px;
            a {
                display: block;
                margin: 0 10px;
                img { width: 100%; }
            }

            .slick-arrow {
                cursor: pointer;
                position: absolute;
                top: 50%;
                z-index: 1;
                border: none;
                background-color: transparent;
                color: #9377C6;
                @include vars.toRem(30px);
                @include vars.prefix(transform, translateY(-50%));

                &.slick-disabled {
                    color: #e2dfdf;
                }
            }
            
            .slick-prev { left: -10px; }
            .slick-next { right: -10px; }

            @media(max-width: vars.$bp680) {
                .slick-prev { left: 0px; }
                .slick-next { right: 0px; }
            }
        }
    }

    .service {
        padding: 80px 0 0;
        .title-detail {
            &::after {
                width: 80px;
            }
        }

        .grid-services {
            margin-top: 30px;
            margin-left: -10px;
            margin-right: -10px;

            .service-item {
                padding: 0 10px;

                img {
                    border-radius: 20px;
                    margin: 0 auto;
                }
            }
        }
    }
}