@use 'vars';

.page-login {
    height: 100vh;
    width: 100%;
    position: relative;

    @include vars.flexProp(
        (display, flex),
        (flex-direction, column),
        (justify-content, space-between)
    );

    .login {
        margin-top: 50px;
        @include vars.flexProp(
            (display, flex),
            (flex-direction, column),
            (align-items, center),
            (justify-content, center)
        );
    
        .logo-content {
            @include vars.flexProp(
                (display, flex),
                (align-items, center)
            );
    
            .logo {
                width: 200px;
            }
    
            .cap-logo {
                text-transform: uppercase;
                @include vars.toRem(30px);
                font-family: vars.$fontSec;
                font-weight: vars.$black;
                letter-spacing: 2px;
                line-height: 30px;
                word-spacing: 5px;
                color: #424242;
                margin-left: 20px;
            }

            @media(max-width: vars.$bp992) {
                .logo { width: 150px; }
            }

            @media(max-width: vars.$bp480) {
                .logo { width: 100px; }
                .cap-logo {
                    @include vars.toRem(20px);
                    line-height: 20px;
                    letter-spacing: initial;
                }
            }
        }
    
        .login-form {
            width: 20%;
            margin-top: 50px;
            transition: .3s;

            @media(max-width: vars.$bp1600) { width: 30%; }
            @media(max-width: vars.$bp1200) { width: 40%; }
            @media(max-width: vars.$bp992) { width: 50%; }
            @media(max-width: vars.$bp768) { width: 65%; }
            @media(max-width: vars.$bp600) { width: 80%; }
            @media(max-width: vars.$bp480) { width: 95%; }
    
            .flex-remember {
                @include vars.toRem(14px);
                @include vars.flexProp(
                    (display, flex),
                    (justify-content, space-between),
                    (align-items, center)
                    );
                    
                &, a { color: #888; }
                .remeber-content {
                    label { cursor: pointer; }
                    @include vars.flexProp(
                        (display, flex),
                        (justify-content, space-between),
                        (align-items, center)
                    );
                }            
            }
    
            .btn-login {
                cursor: pointer;
                text-decoration: none;
                background-color: #fff;
                width: 100%;
                border: 2px solid #8C8F99;
                border-radius: 10px;
                text-align: center;
                display: block;
                color: #9377C6;
                padding: 14px;
                transition: .3s;

                @media(max-width: vars.$bp375) {
                    @include vars.toRem(13px);
                }

                &:hover { border-radius: 30px; }
                &.bold { 
                    font-weight: vars.$bold;
                    @include vars.toRem(16px);
                }
            }
        }

        .info { 
            text-align: center;
            @include vars.toRem(14px);
            a { color: #4B4B4B; }
        }
    }

    .terms {
        margin-bottom: 50px;
        @include vars.flexProp(
            (display, flex),
            (align-items, center),
            (justify-content, center)
        );

        a, span {
            color: #424242;
            text-decoration: none;
        }

        .separator {
            margin: 0 10px;
        }
    }

    .fale-conosco {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    .login-form[data-step="one"],
    .hide {
        position: absolute;
        top: -100%;
        left: 50%;
        opacity: 0;
        @include vars.prefix(transform, translateX(-50%));

        &.show {
            position: initial;
            top: initial;
            left: initial;
            opacity: 1;
            @include vars.prefix(transform, initial);
        }
    }
}