@use 'vars';

.page-perfil {
    padding: 20px 0;

    .perfil {
        margin: 0 auto;
        max-width: 900px;

        .perfil-header {
            margin-bottom: 30px;
            border-bottom: 1px solid #D9D9D9;

            .breadcrumb {
                color: #4B4B4B;
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    color: #4B4B4B;
                    padding-bottom: 50px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            h1 {
                @include vars.toRem(30px);
                font-family: vars.$fontMain;
                font-weight: vars.$regular;
                color: #303030;
                margin: 20px 0;
            }
        }

        .profile-tabs ul {
            @include vars.flexProp((display, flex));
            margin: 40px 0 20px 0;
            list-style: none;
            padding: 0;
        }

        .profile-tabs li {
            margin-right: 50px;
        }

        .profile-tabs li[role="tab"] a {
            @include vars.flexProp((display, flex),
                (align-items, center));
            gap: 10px;
            text-decoration: none;
            color: #4A4A4A;
            @include vars.toRem(16px);
            margin-bottom: 10px;
        }

        .profile-tabs li[role="tab"] a i {

            color: #424242;
            border: 3px solid #424242;
            border-radius: 50%;
            background-color: transparent;
            padding: 10px;
            transition: color 0.3s ease;
        }

        .profile-tabs li[role="tab"] span {
            @include vars.toRem(16px);
            font-family: vars.$fontMain;
            color: #424242;
        }

        .profile-tabs li[role="tab"]:hover span {
            color: #9377C6;
        }

        .profile-tabs li[role="tab"]:hover {
            color: #9377C6;
            /* Cor do texto no hover */
            border-bottom: 2px solid #9377C6;
            /* Borda inferior roxa no hover */
        }

        .profile-tabs li[role="tab"]:hover i {
            color: #fff;
            background-color: #9377C6;
            border: none;
        }


        .profile-photo-section {
            .form-default {
                .form-control {
                    @include vars.flexProp((display, flex),
                        (align-items, center));
                    gap: 80px;
                    width: 100%;

                    @media (max-width: 992px) {
                        @include vars.flexProp((flex-direction, column),
                            (align-items, center));
                        gap: 20px;
                    }


                    .profile-photo-preview {
                        text-align: center;

                        .profile-photo-preview-container {
                            img {
                                border-radius: 50%;
                                border: 10px solid #9377C6; // Ajuste na borda
                                margin-bottom: 20px;
                            }
                        }

                        figcaption {
                            .btn-change-photo {
                                background-color: #9377C6;
                                color: #fff;
                                border: none;
                                border-radius: 10px;
                                padding: 10px 20px;
                                @include vars.toRem(14px);
                                cursor: pointer;

                                &:hover {
                                    opacity: 0.9;
                                }
                            }
                        }
                    }

                    .profile-photo-upload {
                        flex: 1;
                        max-width: 600px;

                        .file-upload-label {
                            @include vars.toRem(20px);
                            color: #424242;
                            font-weight: bold;
                        }

                        .file-upload-box {
                            @include vars.flexProp((display, flex),
                                (flex-direction, column),
                                (align-items, center));
                            margin-top: 10px;
                            text-align: center;
                            border: 1px dashed #424242; // Ajuste na borda
                            border-radius: 20px;
                            padding: 10px; // Ajuste no espaçamento interno
                            width: 100%;
                            max-width: 600px;
                            gap: 10px;


                            .bi-cloud-upload::before {
                                @include vars.toRem(80px);
                            }

                            i {
                                @include vars.toRem(60px);
                                color: #9377C6;

                            }

                            #file-upload-description {
                                color: #424242;
                                text-align: center;
                                @include vars.toRem(14px);
                                font-weight: 400;
                            }

                            input[type='file'] {
                                display: none;
                            }

                            .upload-buttons-container {
                                @include vars.flexProp((display, flex),
                                    (justify-content, center),
                                    (flex-wrap, wrap));
                                gap: 10px; // Ajuste no espaçamento entre os botões

                                .btn-upload {
                                    @include vars.flexProp((display, flex),
                                        (justify-content, center),
                                        (align-items, center));
                                    background-color: #9377C6;
                                    color: #fff;
                                    border: none;
                                    border-radius: 10px;
                                    padding: 10px 30px; // Aumenta o tamanho do botão
                                    min-width: 180px; // Largura mínima para uniformidade
                                    @include vars.toRem(14px);
                                    font-family: vars.$fontMain;
                                    font-weight: vars.$regular;

                                    &:hover {
                                        opacity: 0.9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }




        .form-default {
            background-color: #F1F1F1;
            border: 1px solid #9377C6;
            border-radius: 28px;
            padding: 20px;
            margin-bottom: 30px;

            h2 {
                @include vars.toRem(20px);
                font-weight: vars.$bold;
                color: #303030;
                margin-bottom: 20px;
            }

            .required {
                color: #9377C6;
            }

            .form-control {
                margin-bottom: 15px;

                .label {
                    font-weight: vars.$bold;
                    display: block;
                    color: #424242;
                    margin-bottom: 6px;
                    @include vars.toRem(15px);
                }

                .input {
                    width: 100%;
                    border: 1px solid #9377C6;
                    padding: 10px;
                    @include vars.toRem(16px);
                    border-radius: 10px;

                    &::placeholder {
                        color: #ccc;
                    }

                    &:focus {
                        outline: none;
                        border-color: #9377C6;
                    }
                }

                .des-senha {
                    font-family: vars.$fontMain;
                    font-weight: vars.$regular;
                    @include vars.toRem(12px);
                    color: #666;
                    margin-top: 4px;
                    display: inline-block;
                }
            }

            .form-3,
            .form-2,
            .form-4 {
                @include vars.flexProp((display, flex));
                gap: 30px;

                .form-control {
                    flex: 1;
                }

                .input-container {
                    position: relative;
                    @include vars.flexProp((display, flex),
                        (align-items, center));
                }
            }

            .form-3 {
                .form-control {
                    @include vars.flexProp((display, flex),
                        (flex-direction, column));

                    .label {
                        white-space: nowrap;
                    }

                    .input {
                        min-width: 200px;
                    }
                }
            }

            @media (max-width: vars.$bp768) {
                .form-3 {
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;

                    .form-control:nth-child(1) {
                        grid-column: 1;
                    }

                    .form-control:nth-child(2) {
                        grid-column: 2;
                    }

                    .form-control:nth-child(3) {
                        grid-column: 1 / span 2;
                    }

                    .form-control .input {
                        width: 100%;
                        min-width: 0;

                        &::placeholder {
                            @include vars.toRem(12px);
                        }
                    }
                }

                .form-2,
                .form-3 {
                    @include vars.flexProp((flex-direction, column));
                    gap: 15px;
                }
            }
        }

        .actions {
            text-align: right;

            .btn-save {
                background-color: #9377C6;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 20px 60px;
                @include vars.toRem(16px);
                font-weight: vars.$bold;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }


        .info-and-checkbox {
            @include vars.flexProp((display, flex),
                (justify-content, space-between),
                (align-items, center));
            margin-bottom: 30px;
            gap: 1rem; // Espaço entre os elementos

            .info-obrigatorios {
                @include vars.toRem(14px);
                color: #AAAAAA;
            }

            .terms-checkbox {
                @include vars.toRem(14px);

                a {
                    color: #9377C6;
                    text-decoration: underline;
                }
            }

            // Quando a tela for menor que 768px, os itens ficam um abaixo do outro
            @media (max-width: 768px) {
                @include vars.flexProp(
                    (flex-direction, column),
                    (align-items, flex-start)
                );
            }
        }

        .actions {
            text-align: right;

            .btn-save {
                background-color: #9377C6;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 20px 60px;
                @include vars.toRem(16px);
                font-weight: vars.$bold;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        @media(max-width: vars.$bp768) {

            .actions {

                .btn-save {
                    padding: 15px 40px;
                    @include vars.toRem(14px);
                    width: 100%;
                }
            }

        }


    }
}