@use 'vars';

.product {
    background-color: #ECECEC;
    padding: 40px 0;

    .breadcrumb {
        color: #555555;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 30px;
        margin-bottom: 30px;

        a {
            text-decoration: none;
            color: #555555;
        }
    }

    .product-content {
        .name {
            color: #424242;
            @include vars.toRem(32px);
            margin-bottom: 10px;
        }

        .cod {
            color: #555;
            @include vars.toRem(16px);

            strong {
                font-weight: vars.$regular;
                color: #9377C6;
            }
        }
    }

    .product-columns {
        margin-top: 50px;
        @include vars.flexProp(
            (display, flex),
            (justify-content, space-between)
        );

        @media(max-width: vars.$bp768) {
            @include vars.flexProp(
                (flex-direction, column)
            );
        }

        .half-image {
            width: calc(45% - 20px);

            .image-highlight {
                margin-bottom: 20px;

                img { 
                    border-radius: 30px;
                    border: 1px solid #e6e6e6;
                }
            }

            .image-thumbnail {
                margin-left: -10px;
                margin-right: -10px;

                img {
                    border-radius: 30px;
                    border: 1px solid #ddd;
                    margin: 0 10px;

                    &.slick-current {
                        border: 1px solid #9377C6;
                    }
                }
            }
        }

        .half-infos {
            width: calc(55% - 20px);

            @media(max-width: vars.$bp768) {
                margin-top: 40px;
            }

            .variations {
                .step-vars {
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 30px;
                    margin-bottom: 30px;

                    label {
                        color: #555555;
                        display: block;
                        margin-bottom: 8px;
                    }

                    .flex-var {
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (flex-wrap, wrap)
                        );

                        .color {
                            cursor: pointer;
                            position: relative;
                            background-color: transparent;
                            border: none;
                            border-radius: 50%;
                            overflow: hidden;
                            padding: 0;
                            margin: 0;
                            display: block;
                            margin-right: 20px;
                            margin-bottom: 20px;
    
                            &:last-child {
                                margin-right: 0;
                            }
    
                            &.selected::after {
                                content: "\F272";
                                font-family: "bootstrap-icons";
                                color: #fff;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                @include vars.toRem(20px);
                                @include vars.prefix(transform, translate(-50%, -50%));
                            }
                        }

                        .var-btn {
                            cursor: pointer;
                            background-color: #fff;
                            color: #838383;
                            border: 1px solid #ddd;
                            margin-right: 20px;
                            margin-bottom: 20px;
                            padding: 15px 25px;
                            border-radius: 30px;
                            @include vars.toRem(16px);

                            &.selected {
                                border: 1px solid #9377C6;
                                background-color: #9377C6;
                                color: #fff;
                            }
                        }
                    }

                    .redeem-content {
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center)
                        );

                        .points {
                            font-weight: vars.$bold;
                            color: #9377C6;
                            @include vars.toRem(35px);
                            @include vars.flexProp(
                                (display, flex),
                                (align-items, flex-end)
                            );
                        }

                        .cut-points {
                            cursor: pointer;
                            background-color: #DEDEDE;
                            border: none;
                            color: #aaa;
                            text-decoration: line-through;
                            padding: 10px 20px;
                            margin-left: 25px;
                            border-radius: 30px;
                            font-weight: vars.$semiBold;
                            @include vars.toRem(16px);
                        }

                        @media (max-width: vars.$bp375) {
                            @include vars.flexProp(
                                (flex-direction, column),
                                (align-items, flex-start)
                            );

                            .cut-points { margin-left: 0; margin-top: 15px; }
                        }
                    }

                    .buy-content {
                        margin-top: 40px;
                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (justify-content, space-between)
                        );

                        @media(max-width: vars.$bp992) {
                            @include vars.flexProp(
                                (flex-direction, column)
                            );
                        }

                        .qty-content {
                            width: 30%;
                            position: relative;
                            .qty {
                                width: 100%;
                                padding: 15px;
                                border: 1px solid #ddd;
                                border-radius: 40px;
                                text-align: center;
                                font-family: vars.$fontMain;
                                @include vars.toRem(16px);
                            }

                            .minus,
                            .plus {
                                position: absolute;
                                top: 50%;
                                border: none;
                                background-color: transparent;
                                padding: 0;
                                color: #424242;
                                @include vars.toRem(30px);
                                @include vars.prefix(transform, translateY(-50%));
                            }

                            .minus {
                                cursor: pointer;
                                left: 20px;
                                
                                &::after {
                                    content: "\F2EA";
                                    font-family: 'bootstrap-icons';
                                    display: block;
                                    @include vars.toRem(30px);
                                }
                            }
                            .plus {
                                cursor: pointer;
                                right: 20px;
                                
                                &::after {
                                    content: "\F4FE";
                                    font-family: 'bootstrap-icons';
                                    display: block;
                                    @include vars.toRem(30px);
                                }
                            }
                        }

                        .btn-content {
                            width: 70%;

                            @include vars.flexProp(
                                (display, flex),
                                (align-items, center),
                                (justify-content, flex-end)
                            );

                            .add-bag,
                            .redeem-btn {
                                cursor: pointer;
                                width: calc(50% - 25px);
                                border-radius: 40px;
                                padding: 15px;
                                border: 1px solid #9377C6;
                                @include vars.toRem(16px);
                            }

                            .add-bag {
                                color: #9377C6;
                                margin-right: 15px;
                            }

                            .redeem-btn {
                                background-color: #9377C6;
                                color: #fff;
                            }
                        }

                        @media(max-width: vars.$bp992) {
                            .qty-content,
                            .btn-content {
                                width: 100%;
                            }

                            .btn-content {
                                @include vars.flexProp(
                                    (flex-direction, column)
                                );

                                button {
                                    width: 100%!important;
                                    margin-right: 0!important;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }

                .calc-shipping {
                    border: 1px solid #555;
                    border-radius: 10px;
                    padding: 20px;

                    .flex-shipping {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        color: #555;

                        @include vars.flexProp(
                            (display, flex),
                            (align-items, center),
                            (justify-content, space-between)
                        );

                        @media(max-width: vars.$bp992) {
                            @include vars.flexProp(
                                (flex-direction, column)
                            );
                        }

                        .shipping-input {
                            width: 55%;

                            .cep {
                                width: 45%;
                                padding: 15px;
                                color: #aaa;
                                border: 1px solid #555;
                                margin-right: 10px;
                                border-radius: 10px;
                                @include vars.toRem(16px);

                                @media(max-width: vars.$bp1200) { margin-right: 0; }

                                &::placeholder {
                                    color: #aaa;
                                }
                            }

                            .consult {
                                width: 50%;
                                padding: 15px;
                                background-color: #424242;
                                color: #fff;
                                border: 1px solid #424242;
                                border-radius: 10px;
                                @include vars.toRem(16px);
                            }

                            @media(max-width: vars.$bp1400) { width: 60%; }
                            @media(max-width: vars.$bp992) { width: 100%; margin-top: 10px; }
                        }
                    }

                    .address {
                        color: #555;
                        strong {
                            font-weight: vars.$bold;
                            color: #9377C6;
                        }

                        @media(max-width: vars.$bp992) {
                            br { display: none; }
                        }
                    }
                }
            }
        }

        @media(max-width: vars.$bp768) {
            .half-image,
            .half-infos {
                width: 100%;
            }
        }
    }
}